@import '../../assets/styles/mixins';

.categories-box {
  max-width: 61.25rem;
  overflow-x: auto;
  @include rwd(md) {
    @include customScrollBar;
  }
}

.categories {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-top: 1px solid #e0e3eb;
  border-bottom: 1px solid #e0e3eb;
}

.category {
  display: flex;
  height: 3.5rem;
  padding: 1rem;
  border-right: 1px solid #e0e3eb;
  background-color: white;
  white-space: nowrap; // important, otherwise there will be second or even third row appears
  transition: all 0.3s;
  @include rwd(md) {
    &:hover {
      background-color: var(--screenerBackgroundColor);
    }
  }
  &.category--active {
    color: white;
    background-color: var(--color-tertiary);
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
