@import '../../assets/styles/_mixins.scss';

.table-box {
  height: 100%;
  background-color: white;
}

// custom style

.ReactVirtualized__Table {
  overflow-x: auto;
}

.ReactVirtualized__Table__headerRow {
  font-size: 0.6875rem;
  background-color: rgb(240, 243, 250);
  @include rwd(md) {
    font-size: 0.55rem;
  }
}

.ReactVirtualized__Table__headerColumn {
  padding: 1rem 0.8rem;
  border-right: 2px solid;
  border-right-color: white;
}

.ReactVirtualized__Table__row {
  font-size: 0.875rem;
  @include rwd(md) {
    font-size: 0.7rem;
  }
}

.ReactVirtualized__Table__headerTruncatedText {
  color: #4f5966;
}

.ReactVirtualized__Table__rowColumn {
  padding: 0.75rem;
}
