@import '../../assets/styles/_mixins.scss';

.screener {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 61.25rem) 1fr;
  grid-template-rows: 3rem 1fr 3rem;
  height: 100vh;
  background-color: var(--screenerBackgroundColor);
}

.screener-box {
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
  overflow: hidden;
}

.table-box {
  height: 100%;
  // overflow-x: auto;
}

// custom style

.ReactVirtualized__Table {
  overflow-x: auto;
}

.ReactVirtualized__Table__headerRow {
  font-size: 0.75rem;
  @include rwd(md) {
    font-size: 0.6rem;
  }
}

.ReactVirtualized__Table__row {
  font-size: 0.75rem;
  @include rwd(md) {
    font-size: 0.6rem;
  }
}
