@import '../../assets/styles/_mixins.scss';

.table-box {
  height: 100%;
  // overflow-x: auto;
}

// custom style

.ReactVirtualized__Table {
  overflow-x: auto;
}

.ReactVirtualized__Table__headerRow {
  font-size: 0.75rem;
  @include rwd(md) {
    font-size: 0.6rem;
  }
}

.ReactVirtualized__Table__row {
  font-size: 0.75rem;
  @include rwd(md) {
    font-size: 0.6rem;
  }
}
