@import '../../assets/styles/mixins';
.screener {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 61.25rem) 1fr;
  grid-template-rows:
    3rem minmax(max-content, 100vh)
    3rem;
  height: calc(100vh - var(--menu-height) - 3rem);
  background-color: #f8f9fd;
}

.screener-box {
  grid-column: 2 / span 3;
  grid-row: 1 / -1;
  overflow: hidden;
  @include rwd(md) {
    grid-row: 2 / 3;
  }
}
