@import '../../assets/styles/mixins';

$heading-font-size: 3rem;
$heading-font-size-md: 6rem;

.home {
  grid-column: left-padding / right-padding;
  display: grid;
  grid-template-columns:
    [main-left-padding] minmax(1rem, 1fr) [main-center-start] repeat(
      3,
      [main-col-start] minmax(min-content, 16rem) [main-col-end]
    )
    [main-center-end] minmax(1rem, 1fr) [main-right-padding];
}
.section-about {
  &__image {
    grid-column: main-left-padding / main-right-padding;
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url('../../assets/images/spiderman_reading.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include rwd(xs) {
      grid-column: main-center-start / main-center-end;
    }
    @include rwd(lg) {
      grid-column: main-left-padding / main-right-padding;
      height: 80vh;
      background-attachment: fixed;
      background-position: center top;
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   background: white;
    //   opacity: 0.1;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;
    // }
  }
  &__heading {
    grid-column: main-center-start / main-center-end;
    transform: skewX(-10deg);
    font-size: $heading-font-size;
    font-weight: normal;
    @include rwd(md) {
      font-size: $heading-font-size-md;
    }

    &--upper {
      top: 0;
    }
    &--lower {
      top: 3rem;
    }
  }
  &__explaination {
    grid-column: main-center-start / main-center-end;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .heading-secondary {
      margin-bottom: 1rem;
    }
    p {
      font-size: 2rem;
    }
  }
}

.section-sectors {
  grid-column: main-center-start / main-center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.section-sector {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.7rem 3.5rem;
  &:nth-child(n) {
    background-color: rgba(45, 54, 67, 1);
  }
  &:nth-child(2n) {
    background-color: var(--color-secondary-dark);
  }
  &__heading {
    margin-bottom: 0.7rem;
    font-weight: normal;
    color: #737882;
    text-transform: capitalize;
  }
  &__text {
    width: 70%;
    font-size: 2rem;
    color: white;
  }
}
