.main {
}
.section-about {
  &__image {
    /* The image used */
    background-image: url('../../assets/images/spiderman_reading.jpg');

    /* Full height */
    height: 40vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__heading {
  }
}

.section-achievement {
  width: 100%;
  height: 200vh;
}
