@import '../../assets/styles/mixins';

.recent-news {
  grid-column: main-center-start / main-center-end;
  display: grid;
  grid-template-rows: min-content minmax(12rem, max-content);
  &__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: var(--heading-font-size);
    text-transform: capitalize;
  }
  .swiper {
    &__title {
      height: 6rem;
      color: black;
      text-align: center;
    }
    &__inner-box {
      display: block;
      width: auto;
      @include rwd(md) {
        width: 14.4rem;
      }
    }
    &__image {
      height: 10rem;
      margin: 0 auto;
      @include rwd(md) {
        height: 8rem;
      }
    }
  }

  // custom styles
  .swiper-layout {
    width: calc(100vw - var(--mobile-side-margin) * 2);
    padding-bottom: 2rem;
    overflow-x: hidden;
    .swiper {
      &__inner-box {
        display: block;
      }
      &__title {
        height: 4.5rem;
        background-color: white;
        padding-top: 1rem;
        overflow-y: hidden;
      }
      &__image {
        width: 100%;
        // height: auto;
      }
    }
    .slick-dots {
      position: static;
    }
  }
}

.normal-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  .swiper {
    &__title {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      padding: 1rem 0;
    }
  }
}
