@import '../../assets/styles/mixins';

.header {
  display: flex;
  // grid-template-columns: minmax(max-content, 4fr) minmax(min-content, 1fr);
  justify-content: space-around;
  align-items: center;
  height: 5.5rem;
  // margin-top: 1.5rem;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.navbar {
  // position: relative;
  &.open {
    .navbar__list {
      opacity: 1;
    }
    .navbar__icon {
      background-color: transparent;
      &::before {
        top: 0;
        transform: rotate(45deg);
      }
      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
  &__list {
    display: flex;
    @include absoluteCenter;
    flex-direction: column;
    width: calc(100% - 2rem);
    min-width: 320px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 249, 249, 1);
    z-index: 10;
    opacity: 0;
    transition: all 0.3s;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
  }
  &__link {
    color: inherit;
    padding: 0.5rem 1rem;
    letter-spacing: 0.1rem;
    &.active {
      color: var(--color-primary);
    }
  }
  &__button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: none;
    z-index: 100;
    &:focus {
      outline: none;
    }
  }
  &__icon {
    position: relative;
    margin-top: 50%;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: black;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.4rem;
    }

    &::after {
      top: 0.4rem;
    }
  }
}
