.footer {
  background-color: var(--color-secondary-light);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.provider {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
