@import '../assets/styles/mixins';

.error {
  position: relative;
  width: 100%;
  height: 100%;
  &--absolute {
    position: absolute;
  }
}

.error__message {
  @include absoluteCenter;
  font-weight: bold;
}
