@import '../assets/styles/mixins';

.loading {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading__icon {
  @include absoluteCenter;
  &--large {
    @include squareSize(4rem);
  }
  &--medium {
    @include squareSize(2.5rem);
  }
  &--small {
    @include squareSize(1.5rem);
  }
}
