// Box sizing
html {
  box-sizing: border-box;
  font-family: 'times new roman', times, serif;

  @include rwd(md) {
    font-size: 125%;
  }

  // @include rwd(sm) {
  //   font-size: 50%; // 8/16 = 50%
  // }

  // @include rwd(xl) {
  //   font-size: 75%; // 12/16 = 75%
  // }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

/* Removes discs from ul */
ul {
  list-style: none;
}

// Forms and buttons
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 1px solid gray;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

// Utility
.no-scroll {
  touch-action: none;
  overflow: hidden;
  // for mobile safari
  -webkit-overflow-scrolling: touch;
}

// Media elements
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}
// Tables
table {
  table-layout: fixed;
  width: 100%;
}
// The hidden attribute
[hidden] {
  display: none !important;
}

// Noscript
/* noscript styles */
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}
