[class^='heading-'] {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.heading-primary {
  color: var(--color-primary);
}

.heading-secondary {
  color: var(--color-secondary-dark);
}

.heading-tertiary {
  color: var(--color-tertiary);
}

.heading-margin {
  margin-left: 5%;
  margin-right: 5%;
}
