.menu-margin {
  @include rwd(md) {
    margin-top: var(--menu-height);
  }
}

.tag-box {
  padding: 0.2rem 0.5rem;
  background-color: #0a396d;
}

.mobile-bottom-border {
  border-bottom: 2px solid var(--color-border);
}

.page-error-layout {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ff7f2e;
  overflow: hidden;
  z-index: 200;
}

.truncate-overflow {
  // reference https://css-tricks.com/multi-line-truncation-with-pure-css/
  position: relative;
  max-height: calc(3 * 1.15rem); // lines * line-height
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
  &::before {
    position: absolute;
    content: '...';
    bottom: 0;
    right: 0;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    /* missing bottom on purpose*/
    width: 1rem;
    height: 1rem;
    background: white;
  }
}
