:root {
  --color-primary: rgb(200, 101, 103);

  --color-secondary-dark: rgba(30, 36, 46, 1);
  --color-secondary-light: #2d3643;
  /* $color-tertiary-light: #2998ff; */
  /* $color-tertiary-dark: #5643fa; */

  /* $color-grey-light-1: #f7f7f7; */
  /* $color-grey-light-2: #eee; */
  --menu-height: 5.5rem;
  --mobile-side-margin: 2rem;
}
