@import '../../assets/styles/mixins';

.detail {
  display: grid;
  grid-template-columns: 1fr 100vw 1fr;
  font-family: 'Roboto', sans-serif;
  @include rwd(md) {
    grid-template-columns:
      1fr minmax(min-content, calc(var(--screener-max-width) * 0.8))
      1fr;
  }
}
