@import '../../assets/styles/mixins';
@import '../../assets/styles/utilities';

$detail-board-vertical-space: 1.5rem;

@mixin titleStyle {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  color: #131722;
  font-size: var(--heading-font-size);
  font-weight: bold;
  letter-spacing: 1px;
}

@mixin subtitleStyle {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  color: #787b86;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: normal;
}

.title-small {
  color: var(--color-title-small);
  font-size: var(--title-small-font-size);
  letter-spacing: 0.4px;
}

.detail-board {
  @include rwd(md) {
    & > div {
      @include desktopDetailStyle;
    }
    .detail-board__quote {
      margin-top: $detail-board-vertical-space;
    }
  }

  @extend .mobile-bottom-border;
  &__title-box {
    display: grid;
    grid-template-columns: 3.5rem min-content 1fr;
    grid-template-rows: repeat(3, min-content);
    align-items: center;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: sans-serif;
    @include mobileSideMargin;
  }
  &__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: flex-start;
  }
  &__name {
    white-space: nowrap;
    @include subtitleStyle;
    @include rwd(sm) {
      grid-column: 2 / 3;
    }
    @include rwd(md) {
      @include titleStyle;
    }
  }
  &__symbol {
    @include titleStyle;
    @include rwd(md) {
      @include subtitleStyle;
      grid-column: 3 / 4;
    }
  }
  &__exchange {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    color: var(--color-title-small);
    font-weight: normal;
    white-space: nowrap;
    @include rwd(sm) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    @include rwd(md) {
      grid-column: 2 / 3;
    }
  }
  &__quote {
    display: flex;
    flex-direction: column;
    @include rwd(md) {
      flex-direction: row;
    }
  }
  &__last-price-box {
    display: grid;
    grid-template-columns: max-content min-content 1fr;
    align-items: flex-end;
    grid-row-gap: 0.8rem;
    @include mobileSideMargin;
    margin-top: $detail-board-vertical-space;
    @include rwd(md) {
      margin-top: 0;
      margin-left: 0;
    }
  }
  &__last-price {
    font-size: var(--heading-font-size);
  }
  &__currency {
    font-size: var(--title-small-font-size);
    font-weight: bold;
    padding-left: 0.2rem;
    padding-right: 1rem;
  }
  &__last-time {
    grid-column: 1 / -1;
    @extend .title-small;
  }
  &__change {
    font-size: var(--title-medium-font-size);
    @include rwd(md) {
      white-space: nowrap;
    }
    &--rising {
      color: var(--color-rising);
    }
    &--falling {
      color: var(--color-falling);
    }
  }
  &__scroll-box-outer {
    width: 100vw;
    overflow-x: hidden;
  }
  &__scroll-box-inner {
    overflow-x: auto;
    @include rwd(md) {
      text-align: right;
    }
  }
  &__core-data {
    display: inline-flex;
    @include mobileSideMargin;
    margin-top: 1.5rem;
    & > * {
      flex: 1 0 auto;
      white-space: nowrap;
    }
  }
  &__extended-price-box {
    margin-right: 1.5rem;
  }
  &__extended-price {
    display: inline-block;
  }
  &__extended-change {
    display: inline-block;
    padding-left: 1rem;
  }
  &__extended-last-time {
    @extend .title-small;
    display: block;
    margin-top: 0.6rem;
  }
  &__fundamental-block {
    &:not(:first-of-type) {
      margin-left: 1.5rem;
    }
  }
  &__title {
    @extend .title-small;
    display: inline-block;
    margin-top: 0.6rem;
  }
  &__number {
    font-size: var(--title-medium-font-size);
  }
}
