@import '../../assets/styles/mixins';
@import '../../assets/styles/utilities';

.detail {
  position: relative;
  min-height: calc(100vh - var(--menu-height));
  font-family: 'Roboto', sans-serif;
}

.theme-background {
  @include rwd(md) {
    background-color: var(--themeBG);
    & > * {
      @include desktopDetailStyle;
    }
  }
}
